{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Luke's Flask Page</strong></h1>
        </div class= "row"> 
        <div class="col-5">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/waterpolo.png') }}" alt="Python Development" height="250">
                <div class="card-body">
                <h5 class="card-title">Water Polo <mark>Facts</mark></h5>
                <p class="card-text">
                    <ol>
                        <li>Water polo is an aquatic sport.</li>
                        <li>Water polo was first played in the United Kingdom.</li>
                        <li>Water polo is pretty cool bro.</li>


                    </ol>
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}